@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Simple System of Bank Transaction.</p>
    <p>To see project click menu Transaction. <br/> <b>Font</b>: <a href="https://www.youtube.com/watch?v=VYmsoCWjvM4" target="_blank">Asp.Net Core 6.0 MVC CRUD Operations with EF Core
</a></p>
</div>
