@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Simple System of Bank Transaction.</p>
    <p>To see project click menu Transaction</p>
</div>
